* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
}

.header {
    width: 100%;
    height: 1000px;
    background-position: center;
    background-size: cover;
    background: url(../images/Header.jpg);
    background-attachment: fixed;
}

.nav1 {
    background: transparent;
    height: 80px;
    color: #fff;
}

.nav2 {
    background: #f2f2f2;
    height: 100px;
    color: #000;
}

.contenedor-nav {
    display: flex;
    justify-content: center;
    background-color: #fff;
    height: 80px;
}

.logo {
    color: rgb(235, 130, 45);
    margin-left: 150px;
    margin-top: 25px;
    font-size: 25px;
}

.menus {
    margin: auto;
}

.menus a {
    margin-left: 70px;
    color: rgb(235, 130, 45);
    text-decoration: none;
}

.contenedor-nav .menus a:hover {
    border-bottom: 3px solid #139acf;
    transition: 0.3s;
}

.textos {
    text-align: center;
    align-items: center;
    margin-top: 250px;
}

.textos h1 {
    font-size: 80px;
}

.textos h2 {
    font-size: 60px;
}

.redes h2 {
    color: rgb(5, 5, 5);
    margin-right: 400px;
    font-size: 20px;
    margin-top: 25px;
}

video {
    width: 100%;
}

.container {
    width: 100%;
    height: 600px;
    background: url(../images/cuenta-atras.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-top: -60px;
}

.container h1 {
    text-align: center;
    font-size: 70px;
    margin-bottom: 60px;
}

.countdown {
    display: flex;
    justify-content: center;
    margin-left: -150px;
    margin-top: 100px;
}

.tiempo {
    width: 100px;
    height: 100px;
    margin-left: 230px;
    align-items: center;
    border: 1px solid #fff;
    background: #139acf;
    border-radius: 50%;
}

.tiempo p {
    font-size: 60px;
    margin-left: 11px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.tiempo span {
    font-size: 50px;
    margin: auto;
}

.tiempo span .horas {
    align-items: center;
}

.video {
    width: 100%;
    height: 1000px;
}

.video-item h1 {
    text-align: center;
}

.contenedor {
    display: flex;
    margin-top: 100px;
    margin-left: 40px;
    width: 90%;
}

.contenedor-video {
    width: 30%;
}

.contenedor-video .stranger {
    margin-bottom: 100px;
}

.imagenes {
    height: 400px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 0px;
}

.img-item {
    width: 25%;
    margin-left: 20px;
}

.img-item img {
    width: 100%;
    object-fit: cover;
}

.contenedor1 {
    width: 90%;
    flex-direction: column;
    margin-left: 40px;
}

.imagenes1 {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 20px;
}

.img-item1 {
    flex-direction: column;
}

.img-item1 img {
    width: 100%;
    object-fit: cover;
}

footer {
    width: 100%;
    padding: 50px 0px;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;
    background-color: #ce7108;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.box__footer .logo img {
    width: 180px;
}

.box__footer h2 {
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover {
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

div#mp3_player {
    width: 500px;
    height: 180px;
    background: #000;
    padding: 5px;
    margin: 50px auto;
}

div#mp3_player>div>audio {
    width: 500px;
    background: #000;
    float: left;
}

div#mp3_player>canvas {
    width: 500px;
    height: 150px;
    background: #002D3C;
    float: left;
}